*, ::after ,::before{
  box-sizing: border-box;
}
body{
  height: 100%;
  width: auto;
  margin:0;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #555;  /*This is our main text color*/
  /*font-weight: 400;*/
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button:hover{
  background-color: black;
  color: white; 
}
ul{
  text-decoration: none;
  list-style: none;
}

/* ######################################################################################### */

.logo{
  font-size: 2.2rem;
}

/* ########################################################################################### */

.hero-section {
  background-color: #fdf2e9;
  padding: 84px 0 96px 0;
}

.hero {
  /* We'll not use px to define the length and will use rem. */
  /* max-width: 1300px; */
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 32px;
  margin: 0 auto;
  align-items: center;
  gap: 0 96px;
}

.hero-heading-primary {
  font-size: 52px;
  color: #333;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 1.05;
  /*margin-bottom: 36px;*/
}

.hero-description {
  font-size: 20px;
  line-height: 1.5;
  /*margin-bottom: 48px;*/
}

.hero-img-box {
  grid-column: 2/3;
  grid-row: 1 / 3;
}

.hero-img {
  width: 100%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  /* margin-top: 4.8rem; */
  padding: 16px 32px;
  text-decoration: none;

  transition: background-color 500ms;
}

.btn--fill:link,
.btn--fill:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
}

.btn--fill:hover,
.btn--fill:active {
  background-color: #cf711f;
  text-decoration: underline;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* Now we'll not use border as in border the outlines are on the outside. Instead we'll use the outline or box-shadow property */
  box-shadow: inset 0px 0px 0px 3px #fff;
  text-decoration: underline;
  /* outline: #fff solid 3px; */
}

/* We'll create a utility class that can be used for any element by simply adding a class. */
.margin-right-btn {
  margin-right: 24px;
}